# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

**/logs/

.settings
bin
.project*
.classpath

!/.idea/
!/.idea/codeStyles/
!/.idea/codeStyles/codeStyleConfig.xml
!/.idea/codeStyles/Project.xml
!/.idea/gradle.xml
